@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
* {
  font-family: 'Oswald', sans-serif;
  font-weight: 100; }

/*Contacto*/
.direccion__map {
  height: 550px;
  width: 100vw; }

.direccion__datos {
  color: whitesmoke;
  align-items: center;
  text-align: center;
  text-justify: center; }

/*Contacto*/
/*Proyectos*/
.titulo-proy {
  color: whitesmoke;
  text-align: center; }

#carrousel1 {
  transition: .3s; }

.container-proy #proy1:hover #carrousel1 {
  transform: scale(1.5);
  z-index: 3; }

#carrousel2 {
  transition: .3s; }

.container-proy #proy2:hover #carrousel2 {
  transform: scale(1.5);
  z-index: 3; }

#carrousel3 {
  transition: .3s; }

.container-proy #proy3:hover #carrousel3 {
  transform: scale(1.5);
  z-index: 3; }

#carrousel4 {
  transition: .3s; }

.container-proy #proy4:hover #carrousel4 {
  transform: scale(1.5);
  z-index: 3; }

#proy4 {
  margin-bottom: 50px; }

.carrousel-contenedor {
  height: 100%; }

#tit-proy div {
  color: white;
  font-size: large; }

#tit-proy2 div {
  color: white;
  font-size: large; }

/*Proyectos*/
/*404*/
.error-main {
  padding-top: 30vh;
  text-align: center; }

.error {
  color: whitesmoke;
  font-weight: 100; }

/*404*/
/*footer*/
.footer-dark {
  color: #f0f9ff;
  background-color: #282d32; }

.footer-dark h3 {
  margin-top: 50px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px; }

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0; }

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6; }

.footer-dark ul a:hover {
  opacity: 0.8; }

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px; } }

.footer-dark .item.text {
  margin-bottom: 36px; }

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0; } }

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0; }

.footer-dark .item.social {
  text-align: center; }

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px; } }

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75; }

.footer-dark .item.social > a:hover {
  opacity: 0.9; }

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0; }

/*Footer*/
body {
  margin: 0;
  padding: 0;
  background-image: url(https://www.publicdomainpictures.net/pictures/310000/velka/black-wall-1565177040wcN.jpg);
  background-size: contain; }

@media (max-width: 599px) {
  #tit-proy2 {
    display: none; } }

@media (max-width: 599px) {
  #tit-proy {
    display: none; } }

@media (max-width: 599px) {
  .container #proy4:hover #carrousel4 {
    transform: scale(1); } }

@media (max-width: 599px) {
  .container #proy3:hover #carrousel3 {
    transform: scale(1); } }

@media (max-width: 599px) {
  .container #proy2:hover #carrousel2 {
    transform: scale(1); } }

@media (max-width: 599px) {
  .container #proy1:hover #carrousel1 {
    transform: scale(1); } }

@media (max-width: 599px) {
  .contact__wapp {
    display: none; } }

@media (max-width: 599px) {
  .direccion iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; } }

.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

.slideshow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%); }
  .slideshow--hero {
    z-index: 3;
    left: 0;
    top: 50%;
    height: 85%;
    transform: translateY(-50%) skewY(-10deg);
    transform-origin: center;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25); }
    .slideshow--hero .slides {
      position: absolute;
      left: 0;
      top: -10%;
      width: 100vw;
      height: 100vh;
      animation: 11s slideshow-hero-mobile -3s infinite; }
    .slideshow--hero .slide1 {
      background-image: url(../MEDIA/Render10.png);
      animation: 20s slides-set-1 -0.1s infinite; }
    .slideshow--hero .slide2 {
      background-image: url(../MEDIA/Render7.png);
      animation: 20s slides-set-2 -0.1s infinite; }
    .slideshow--hero .slide3 {
      background-image: url(../MEDIA/Render4.png);
      animation: 20s slides-set-3 -0.1s infinite; }
    @media (min-width: 600px) {
      .slideshow--hero {
        left: 50%;
        top: 0;
        width: 67%;
        height: 100%;
        transform: translateX(-50%) skewX(-10deg); }
        .slideshow--hero .slides {
          top: 0;
          left: -25%;
          height: 100%;
          animation: 11s slideshow-hero -3s infinite; } }
  .slideshow--contrast {
    z-index: 1;
    width: 100%;
    height: 50%;
    transform: none; }
    .slideshow--contrast--before {
      left: 0; }
      .slideshow--contrast--before .slides {
        width: 100vw; }
    .slideshow--contrast--after {
      z-index: 2;
      left: auto;
      right: 0; }
      .slideshow--contrast--after .slides {
        width: 100vw;
        left: auto;
        right: 0; }
    .slideshow--contrast .slides {
      animation: 14s slideshow-contrast -5s infinite; }
    .slideshow--contrast .slide1 {
      background-image: linear-gradient(to bottom, rgba(34, 34, 33, 0.25) 0, rgba(112, 112, 112, 0.5) 100%), url(../MEDIA/Render10.png);
      animation: 20s slides-set-1 -0.2s infinite; }
    .slideshow--contrast .slide2 {
      background-image: linear-gradient(to bottom, rgba(34, 34, 33, 0.25) 0, rgba(112, 112, 112, 0.5) 100%), url(../MEDIA/Render7.png);
      animation: 20s slides-set-2 -0.2s infinite; }
    .slideshow--contrast .slide3 {
      background-image: linear-gradient(to bottom, rgba(34, 34, 33, 0.25) 0, rgba(112, 112, 112, 0.5) 100%), url(../MEDIA/Render4.png);
      animation: 20s slides-set-3 -0.2s infinite; }
    .slideshow--contrast--after {
      top: auto;
      bottom: 0; }
      .slideshow--contrast--after .slides {
        animation: 13s slideshow-contrast -13s infinite; }
      .slideshow--contrast--after .slide {
        background-position: right; }
      .slideshow--contrast--after .slide1 {
        animation: 20s slides-set-1 infinite; }
      .slideshow--contrast--after .slide2 {
        animation: 20s slides-set-2 infinite; }
      .slideshow--contrast--after .slide3 {
        animation: 20s slides-set-3 infinite; }
    @media (min-width: 600px) {
      .slideshow--contrast {
        width: 50%;
        height: 100%; }
        .slideshow--contrast--after {
          top: 0;
          bottom: auto; }
          .slideshow--contrast--after .slides {
            width: 50vw; } }

.slides,
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

@keyframes slideshow-hero-mobile {
  0% {
    transform: scale(1) skewY(10deg); }
  50% {
    transform: scale(1.05) skewY(10deg); }
  100% {
    transform: scale(1) skewY(10deg); } }

@keyframes slideshow-hero {
  0% {
    transform: scale(1) skewX(10deg); }
  50% {
    transform: scale(1.05) skewX(10deg); }
  100% {
    transform: scale(1) skewX(10deg); } }

@keyframes slideshow-contrast {
  0% {
    transform: scale(1.05); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(1.05); } }

@keyframes slides-set-1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  31% {
    opacity: 1;
    transform: scale(1); }
  34% {
    opacity: 0;
    transform: scale(1.05); }
  97% {
    opacity: 0;
    transform: scale(1.05); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes slides-set-2 {
  0% {
    opacity: 0;
    transform: scale(1.05); }
  31% {
    opacity: 0;
    transform: scale(1.05); }
  34% {
    opacity: 1;
    transform: scale(1); }
  64% {
    opacity: 1;
    transform: scale(1); }
  67% {
    opacity: 0;
    transform: scale(1.05); }
  100% {
    opacity: 0;
    transform: scale(1.05); } }

@keyframes slides-set-3 {
  0% {
    opacity: 0;
    transform: scale(1.05); }
  64% {
    opacity: 0;
    transform: scale(1.05); }
  67% {
    opacity: 1;
    transform: scale(1); }
  97% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.05); } }

html body * {
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif; }

.gridywrap div[class*=gridy] {
  background: #eee;
  box-shadow: inset 0 0 0 1px #ddd;
  padding: 15px;
  float: left;
  position: relative; }

.gridywrap .gridy-1,
.gridywrap .gridy-2,
.gridywrap .gridy-3 {
  width: 320px;
  overflow: hidden; }

.gridywrap .gridy-1 {
  width: 100%; }

.gridywrap .gridy-2 {
  width: 100%; }

.gridywrap .gridy-3 {
  width: 100%; }

.gridywrap .gridyhe-1 {
  height: 320px; }

.gridywrap .gridyhe-2 {
  height: 320px; }

@media screen and (min-width: 640px) {
  .gridywrap .gridyhe-2 {
    height: 320px; }
  .gridywrap {
    width: 100%; }
  .gridywrap .gridy-1 {
    width: 50%; }
  .gridywrap .gridy-2 {
    width: 50%; }
  .gridywrap .gridy-3 {
    width: 100%; } }

@media screen and (min-width: 1024px) {
  .gridywrap .gridy-1 {
    width: 33.3%; }
  .gridywrap .gridy-2 {
    width: 66.6%; }
  .gridywrap .gridy-3 {
    width: 100%; }
  .gridywrap .gridyhe-2 {
    height: 640px; } }

/*styling*/
.gridywrap .gridimg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-position: center center;
  background-size: cover; }

.gridywrap .gridimg img {
  width: 100%; }

.gridywrap .gridinfo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: all 0.8s; }

.gridywrap .gridinfo h3 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 130px 0 20px;
  position: relative; }

.gridywrap .gridinfo h3:after {
  content: '';
  width: 25px;
  border-top: 4px solid #fff;
  display: block;
  margin: 0 auto;
  margin-top: 25px; }

.gridywrap .gridinfo .gridmeta {
  transition-delay: 0.25s; }

.gridywrap .gridinfo .gridmeta p {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  margin-bottom: 15px; }

.gridywrap .gridinfo .gridmeta p i {
  margin-right: 5px; }

.gridywrap .gridinfo .gridmeta p.gridwho {
  margin-left: 25px; }

.gridywrap .gridinfo p.gridexerpt {
  width: 60%;
  margin: 0 auto;
  line-height: 22px;
  margin-bottom: 25px;
  color: #fff;
  transition-delay: 0.5s; }

.gridywrap .gridinfo * {
  opacity: 0;
  transition: all 0.8s; }

.gridywrap .gridinfo h3 {
  opacity: 1; }

.gridywrap .gridinfo .grid-btn {
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 25px;
  border: 1px solid #fff;
  display: block;
  overflow: hidden; }

.gridywrap .gridinfo .grid-btn:hover {
  width: 75px;
  background: rgba(94, 93, 93, 0.3); }

.gridywrap .gridinfo .grid-btn span {
  opacity: 0;
  display: none;
  transition: opacity 0.8s; }

.gridywrap .gridinfo .grid-btn:hover span {
  opacity: 1;
  display: inline; }

.gridywrap .gridinfo .grid-btn:hover i {
  opacity: 0;
  display: none; }

.gridywrap .gridinfo:hover * {
  opacity: 0.7; }

.gridywrap .gridinfo:hover p {
  opacity: 1; }

.gridywrap .gridinfo:hover {
  background: rgba(76, 75, 78, 0.7); }

.gridywrap .gridinfo:hover h3 {
  margin-top: 70px;
  opacity: 1; }

.intro {
  text-align: center;
  padding: 25px;
  background: rgba(26, 25, 25, 0.836);
  color: #ddd; }

h1 {
  font-size: 48px;
  font-weight: 300;
  padding: 15px 0; }

.intro p {
  opacity: 0.5;
  font-size: 12px; }

.intro p a {
  color: #FA8CD3; }

.gallery {
  display: flex;
  padding: 2px;
  transition: .3s; }
  .gallery:hover .gallery__image {
    filter: grayscale(1); }
  .gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%; }
  .gallery__link {
    margin: 2px;
    overflow: hidden; }
    .gallery__link:hover .gallery__image {
      filter: grayscale(0); }
    .gallery__link:hover .gallery__caption {
      opacity: 1; }
  .gallery__thumb {
    position: relative; }
  .gallery__image {
    display: block;
    width: 100%;
    transition: .3s; }
    .gallery__image:hover {
      transform: scale(1.1); }
  .gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: .3s; }
